.task {
  background: var(--dark-color);
  border: 1px solid #333333;
  padding: .8rem;
  border-radius: .8rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .8rem;
}

.task:hover {
  border: 1px solid var(--pink-color);
  transition: all .5s;
}

.task p {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-right: auto;
}

.textCompleted {
  color: #808080;
  text-decoration: line-through;
}

.checkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  --diameter-size: 2rem;
  width: var(--diameter-size);
  height: var(--diameter-size);
  background: none;
}

.checkContainer::after {
  content: '';
  display: block;
  box-sizing: border-box;
  width: calc(var(--diameter-size)/1.5);
  height: calc(var(--diameter-size)/1.5);
  border: 2px solid var(--pink-color);
  border-radius: 50%;
}

.checked::after{
  background-color: var(--pink-color);
}

.deleteButton:hover {
  color: var(--pink-color);
  transition: all 1s;
}

.deleteButton {
  display: flex;
  background: none;
  color: #808080;
}

/* color: var(--purple-color); */